<div>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <h3><strong>Manage Employees</strong></h3>
        <form class="form-inline">
            <button (click)="clientSidePagination()" class="btn btn-primary btn-sm my-2 my-sm-0" type="button">Client
                Side</button>

            <button (click)="serverSidePagination()" class="btn btn-primary btn-sm my-2 my-sm-0" type="button"
                style="margin-left: 20px;margin-right: 20px;">Server Side</button>

            <button class="btn btn-primary btn-sm my-2 my-sm-0" type="button" (click)="OnClick()">Logout</button>
        </form>
    </nav>
</div>