<div>
    <div class="containter">
        <app-header></app-header>
        <div class="row my-1 mr-1">
            <div class="col-12 text-right">
                <button type="button" class="btn btn-success btn-sm" (click)="newEmployee()"><i
                        class="fa fa-plus-square"></i></button>

                <button type="button" class="btn btn-secondary btn-sm" style="margin-left:10px ;"
                    (click)="openEmployeeModal(cnt)"><i class="fa fa-plus-square"></i>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class='table'>
                    <thead class='thead-dark table-bordered'>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Gender</th>
                            <th scope="col">Email</th>
                            <th scope="col">Date Of Birth</th>
                            <th scope="col">Date Of Join</th>
                            <th scope="col">Designation</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let emp of employeeData;let i = index">
                            <th scope="row">{{i+1}}</th>
                            <td>{{emp.firstname}}</td>
                            <td>{{emp.lastname}}</td>
                            <td>{{emp.gender}}</td>
                            <td>{{emp.email}}</td>
                            <td>{{emp.DateOfBirth}}</td>
                            <td>{{emp.DateOfJoin}}</td>
                            <td>{{emp.Designation}}</td>
                            <td>

                                <button type="button" class="btn btn-warning btn-sm" style="margin-right: 10px;"
                                    (click)="updateEmployeeModal(ct,emp)"> <i class="fas fa-pen"></i></button>

                                <button class="btn btn-danger btn-sm" (click)="open(content,emp._id)"><i
                                        class="fas fa-trash-alt"></i></button>
                            </td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<ng-template #content let-c='close' let-d='dismiss'>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Confirmation</h4>
        <button type="button" class='close' aria-label="Close" (click)="d('Cross Click')">
            <span aria-hidden="true">
                x
            </span></button>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete the record?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="d('Cross Click')">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="c('Yes')">Yes</button>
    </div>
</ng-template>

<!-- New Employee modal -->
<ng-template #cnt let-c='close' let-d='dismiss'>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Register New Employee</h4>
        <button type="button" class='close' aria-label="Close" (click)="d('Cross Click')">
            <span aria-hidden="true">
                x
            </span></button>
    </div>
    <div>
        <app-register [modal]="modal" (closeModal)="handleRegisterClickEvent($event)"></app-register>
    </div>
</ng-template>

<!-- Update Employee Modal -->
<ng-template #ct let-c='close' let-d='dismiss'>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Update Employee</h4>
        <button type="button" class='close' aria-label="Close" (click)="d('Cross Click')">
            <span aria-hidden="true">
                x
            </span></button>
    </div>
    <div class="modal-body">
        <app-register [modal]="modal" [employee]='employeeModalObj' (closeModal)="handleRegisterClickEvent($event)">
        </app-register>
    </div>
</ng-template>
