<div>
    <app-header></app-header>
    <div class="col-12">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="display">
            <thead class='thead-dark table-bordered'>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Email</th>
                    <th scope="col">Date Of Birth</th>
                    <th scope="col">Date Of Join</th>
                    <th scope="col">Designation</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let emp of employeeData;let i = index" class="groupColumns">
                    <th scope="row">{{i+1}}</th>
                    <td>{{emp.firstname}}</td>
                    <td>{{emp.lastname}}</td>
                    <td>{{emp.gender}}</td>
                    <td><a [href]="'mailto:'+ emp.email" style="color: green;">{{emp.email}}</a></td>
                    <td>{{emp.DateOfBirth}}</td>
                    <td>{{emp.DateOfJoin}}</td>
                    <td>{{emp.Designation}}</td>
                    <td>
                        <button type="button" class="btn btn-warning btn-sm" style="margin-right: 10px;"> <i
                                class="fas fa-pen"></i></button>
                        <button class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>